<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container alert alert-secondary text-center w-25">
        <div class="btn text-light w-25" style="font-size: 50px; background-color:rgb(90, 4, 121)">B</div>
        <div class="h2 pb-2 pt-3">Please Sign in</div>
        <div><input type="text" placeholder="Email address" class="form-control"></div>
        <div><input type="password" placeholder="Email password" class="form-control"></div>
        <div class="pt-5 pb-4"><input type="checkbox" class="form-check-input"> Remember me</div>
        <div class="btn btn-primary w-100">Sign in</div>
        <div class="footer pt-3">© 2017-2018</div>
    </div>
</body>
</html>