<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form class="d-flex flex-column align-items-center gap-2">
            <p class="h1">COVID-19 Vaccine Registration Form</p> 
            <div class="row">
                <div class="col-2 mb-4 mt-4">
                    <label for="firstname">First Name:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="firstname" class="form-control">
                </div>

                <div class="col-2 mb-4">
                    <label for="lastname">Last Name:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="lastname" class="form-control">
                </div>

                <div class="col-2 mb-4">
                    <label for="aadhar">Aadhar Number:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="aadhar" class="form-control">
                </div>
            </div>

            <div class="col-2 mb-4">
                <label for="year">Vaccine Name</label>
            </div>
            <div class="col-10 mb-4">
                <select class="form-select" id="year">
                    <option>Please Select Vaccination Center Name</option>
                </select>
            </div>

            <div class="col-2 mb-4">
                <label for="year">Vaccination Center Name:</label>
            </div>
            <div class="col-10 mb-4">
                <select class="form-select" id="year">
                    <option>Please Select Vaccination Center Name</option>
                </select>
            </div>

        </form>
    </div>
</body>
</html>