<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="lab14-1.css">
</head>
<body>
    <header>
        <div class="menu">
            <a href="#">The book series</a>
            <a href="#">Testimonial</a>
            <a href="#">The Author</a>
            <a href="#">Free Resources</a>
        </div>
    </header>

    <div class="content">
        <div class="title">
            you don't know java script
        </div>
        <div class="c1">
            <div class="js">
                <div class="bookheader">
                    <div class="oreilly">
                        O'REILLY
                    </div>
                    <div class="para">"When you strive to comprehend your code, you create better<br> work and become
                        better at what you do. The code isn't just<br> your job anymore, it's your craft. This is why I
                        love Up & Going"<br> -JENN LUKAS, Frontend consultant
                        <br><b style="position: relative;top: 48px;font-size: large;">KYLE SIMPSON</b>
                    </div>
                </div>
                <div class="bookmiddle">
                    COMPLETE <br> SERIES
                </div>
                <div class="bookfooter">
                    <div class="line">YOU DON'T KNOW</div>
                    <div class="j">JS</div>
                </div>
            </div>
            <div class="text">
                <div>Don't just through JavaScript.<br><br>Understand how Javascript works<br><br>Start your journey the
                    bumpy side of Javascript</div>
                <button>ORDER YOUR COPY NOW</button>
            </div>
        </div>
    </div>
    <footer>
        <div class="text2">
            The first ebook in the book series is absolutely free.

            <div><button>FIND OUT MORE ABOUT THIS OFFER</button></div>
        </div>
    </footer>
</body>

</html>