<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container border border-dark">
        <form class="d-flex flex-column align-items-center gap-2">
            <p class="h1">Student Registration</p> 
            <div class="row">
                <div class="col-2 mb-4 mt-4">
                    <label for="fullname">Full Name:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="fullname" class="form-control">
                </div>

                <div  class="col-2 mb-4">
                    <label for="email">Email:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="email" id="email" class="form-control">
                </div>

                <div  class="col-2 mb-4">
                    <label for="mobileno">Mobile No:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="number" id="mobileno" class="form-control">
                </div>

                <div  class="col-2 mb-4">
                    <label for="address">Address:</label>
                </div>
                <div class="col-10 mb-4">
                  <textarea class="form-control" id="address"></textarea>
                </div>

                <div  class="col-2 mb-4">
                    <label for="nationality">Nationality:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="nationality" class="form-control">
                </div>

                <div  class="col-2 mb-4">
                    <label for="birthdate">Date Of Birth:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="date" id="birthdate" class="form-control">
                </div>

                <div  class="col-2 mb-4">
                    <label for="gender">Gender:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="radio" name="gender" id="male" class="form-check-input"> <label for="male">Male</label>
                    <input type="radio" name="gender" id="female" class="form-check-input"> <label for="female">Female</label>
                </div>
                
                <div  class="col-2 mb-4">
                    <label for="degree">Highest Degree:</label>
                </div>
                <div class="col-10 mb-4">
                    <select class="form-select" id="degree">
                        <option>Select Degree</option>
                    </select>
                </div>

                <div  class="col-2 mb-4">
                    <label for="cpi">CPI:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="cpi" class="form-control">
                </div>

                <div class="col-2 mb-4">
                    <label for="university">University:</label>
                </div>
                <div class="col-10 mb-4">
                    <input type="text" id="university" class="form-control">
                </div>

                <div class="col-2 mb-4">
                    <label for="year">Passing Year:</label>
                </div>
                <div class="col-10 mb-4">
                    <select class="form-select" id="year">
                        <option>Select Your Passing Year</option>
                    </select>
                </div>

                <div class="col-6 text-end mb-4"><button class="btn btn-secondary">Submit</button></div>
                <div class="col-6 mb-4"><button class="btn btn-secondary">Cancel</button></div>




            </div>   
        </form>
    </div>
    
</body>
</html>