<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
    <!-- <script src="" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
</head>
<body>
    <div class="row bg-dark p-3">
        <div class="col-8 text-light">LOGO</div>
        <div class="col-1 text-light">Home</div>
        <div class="col-1 text-light">contact</div>
        <div class="col-1 text-light">About Us</div>
        <div class="col-1 text-light">Messages</div>
    </div>
    <div class="row">
        <div class="col fs-2 h1 pt-3">Dashboard:</div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>All Star</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tr>
            <td>Stephn</td>
            <td>Warriors</td>
            <td>Yes</td>
            <td>Remove</td>
        </tr>
        <tr>
            <td>Tim Head</td>
            <td>Riders</td>
            <td>Yes</td>
            <td>Remove</td>
        </tr>
        <tr>
            <td>Gill</td>
            <td>Titans</td>
            <td>Yes</td>
            <td>Remove</td>
        </tr>
        <tr>
            <td>Hardy</td>
            <td>Super Kings</td>
            <td>Yes <span class="badge bg-warning">Last</span> </td>
            <td>Remove</td>
        </tr>
        <tr>
            <td>Warner</td>
            <td>Sunrises</td>
            <td>Yes <span class="badge bg-success">First</span> </td>
            <td>Remove</td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col fs-2 h1">Todos:</div>
    </div>
    <div class="alert alert-success text-success m-0">Feel good about Bootstrap</div>
    <div class="alert alert-info text-primary m-0">Feel good about Bootstrap</div>
    <div class="alert alert-warning text-warning m-0">Feel good about Bootstrap</div>
    <div class="alert alert-danger text-danger m-0">Feel good about Bootstrap</div>
    <div class="alert alert-success text-success m-0">Feel good about Bootstrap</div>
    
</body>
</html>