<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8">Logo</div>
            <div class="col-1">Home</div>
            <div class="col-1">About</div>
            <div class="col-1">Contant</div>
            <div class="col-1">Login</div>
        </div>
        <div class="row">
            <div class="col-4 bg-danger p-0">
                <div class="text-center border border-warning mb-2 p-1">Sidebar</div>
                <div class="text-center border border-warning mb-2 p-1">Home</div>
                <div class="text-center border border-warning mb-2 p-1">Placement</div>
                <div class="text-center border border-warning mb-2 p-1">Recruitment</div>
                <div class="text-center border border-warning mb-2 p-1">faculty</div>
                <div class="text-center border border-warning mb-2 p-1">News</div>
            </div>
            <div class="col-8 p-0">
                <div class="row container-fluid">
                    <div class="col-3 p-0"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>
                    <div class="col-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>
                </div>
                <div class="row">
                    <div class="col-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>
                    <div class="col-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>
                    <div class="col-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>
                    <div class="col-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkAhvc-YjdwsimlEYdOknxcvbgNOVSHWjkWQ&usqp=CAU" height="50%"> </div>                    
                </div>
            </div>
        </div>
        <div class="row bg-info">Darshan University</div>
    </div>
</body>
</html>