<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="row bg-dark text-light text-center">
                    <div class="col pb-2"><b>OPEN</b>Admin</div>
                </div>
                <div class="row bg-dark text-light text-center">
                    <div class="col pb-4"><input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..."></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Daseboard</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Pages</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Admin</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Helpers</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Media Manager</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Config</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Api Tester</label></div>
                </div>
                <div class="row bg-dark text-light">
                    <div class="col pb-2"><label>Page Designer</label></div>
                </div>

            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col text-end">Administrator</div>
                </div>
                <div class="row pt-4 bg-secondary-subtle">
                    <div class="col-3"><h3>Page</h3>List</div>
                    <div class="col-9 text-end">Home/Pages</div>
                </div>
                <div class="row">
                    <div class="container pt-3">
                        <div class="row">
                            <div class="col-auto">
                               <div class="btn btn-success border">+New</div>
                            </div>
                            <div class="col-auto">
                                <div class="btn btn-primary">2 items selected</div>
                            </div>
                            <div class="col-auto">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary">Filter</button>
                                    <button type="button" class="btn btn-primary">^</button>
                               </div>
                            </div>
                            <div class="col-auto">
                                <div class="btn btn-danger border">Report</div>
                            </div>
                            <div class="col-auto text-end">
                                <div class="btn-group justify-content-end" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary">Export</button>
                                    <button type="button" class="btn btn-primary">^</button>
                               </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>