<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="row bg-dark py-2 header">
        <div class="col-7 text-light">Project Name</div>
        <div class="col-2"><input class="w-100 h-100 rounded" type="email" placeholder="Email"></div>
        <div class="col-2"><input class="w-100 h-100 rounded" type="password" placeholder="Password"></div>
        <div class="col-1"><button class="btn btn-success">Sign in</button></div>
    </div>
    <div class="alert alert-secondary py-5">
        <div class="pb-3"><h1>Hello, World!</h1><br>Earth (1 AU (150 million km; 93 million mi) from the Sun) is
            the largest and densest of the inner planets, the only one
            known to have current geological activity, and the only place
            where life is known to exist.[85] Its liquid hydrosphere is
            unique among the terrestrial planets, and it is the only planet
            where plate tectonics has been observed. Earth's atmosphere
            is radically different from those of the other planets, having
            been altered by the presence of life to contain 21% free
            oxygen.[86] It has one natural satellite, the Moon, the only
            large satellite of a terrestrial planet in the Solar System</div>
        <div class="btn btn-primary">Learn more>></div>
    </div>
    <div class="row mx-4">
        <div class="col-4">
            <div class="h2">Heading</div>
            <div class="pb-3">The principal component of the Solar System is the Sun, a G2
                main-sequence star that contains 99.86% of the system's
                known mass and dominates it gravitationally.[20] The Sun's
                four largest orbiting bodies, the giant planets, account for 99%
                of the remaining mass, with Jupiter and Saturn together
                comprising more than 90%.</div>
            <div class="btn btn-light border">View Details>></div>
        </div>
        <div class="col-4">
            <div class="h2">Heading</div>
            <div class="pb-3">The principal component of the Solar System is the Sun, a G2
                main-sequence star that contains 99.86% of the system's
                known mass and dominates it gravitationally.[20] The Sun's
                four largest orbiting bodies, the giant planets, account for 99%
                of the remaining mass, with Jupiter and Saturn together
                comprising more than 90%.</div>
            <div class="btn btn-light border">View Details>></div>
        </div>
        <div class="col-4">
            <div class="h2">Heading</div>
            <div class="pb-3">The principal component of the Solar System is the Sun, a G2
                main-sequence star that contains 99.86% of the system's
                known mass and dominates it gravitationally.[20] The Sun's
                four largest orbiting bodies, the giant planets, account for 99%
                of the remaining mass, with Jupiter and Saturn together
                comprising more than 90%.</div>
            <div class="btn btn-light border">View Details>></div>
        </div>
    </div>
    <hr>
    <div class="footer"> © Company 2014</div>
</body>
</html>