<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./bootstrap-5.3.3-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row pt-4">
            <div class="col-12 my-2 col-md-7 text-center text-md-start">Company Name</div>
            <div class="col-3 my-2 text-center col-md-1">Feature</div>
            <div class="col-3 my-2 text-center col-md-1">Enterprice</div>
            <div class="col-3 my-2 text-center col-md-1">Support</div>
            <div class="col-3 my-2 text-center col-md-1">Pricing</div>
            <div class="col-12 my-2 text-center col-md-1"><button class="btn btn-light border-dark">Sign up</button></div>
        </div>
    </div><hr>
    <div class="container text-center py-3 ">
        <div class="h2" style="font-family: Georgia, 'Times New Roman', Times, serif;">Pricing</div>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima omnis voluptas sint recusandae culpa impedit, beatae est officia repellat ducimus inventore dicta rerum quia perspiciatis numquam, praesentium dolorem laudantium earum.
        Error qui quasi ab ipsam, soluta corrupti itaque, minima recusandae sed corporis voluptatum libero quaerat expedita, reprehenderit dolores! Velit, est. Praesentium nesciunt facere vitae id dolorem illum doloremque ipsa rem! </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card text-center m-5">
                <div class="card-header">Free</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                    <span class="h1">$0</span>/mo</p>
                    <p>10 user included</p>
                    <p>2GB of storage</p>
                    <p>Email Support</p>
                    <p>Help center support</p>
                    <button class="btn btn-light text-primary border-dark w-100">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card text-center m-5">
                <div class="card-header">pro</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                    <span class="h1">$15</span>/mo</p>
                    <p>20 user included</p>
                    <p>10GB of storage</p>
                    <p>Email Support</p>
                    <p>Help center support</p>
                    <button class="btn btn-primary text-light w-100">Get Started</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">  
        <div class="card text-center m-5">
            <div class="card-header">Enterprice</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                <span class="h1">$29</span>/mo</p>
                <p>30 user included</p>
                <p>15GB of storage</p>
                <p>Email Support</p>
                <p>Help center support</p>
                <button class="btn btn-primary text-light w-100">Contact us</button>
            </div>
        </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3 ps-5">
        <div class="btn text-light w-25" style="font-size: 50px; background-color:rgb(90, 4, 121)">B</div>
        <p>© 2017-2018</p>
        </div>
        <div class="col-md-3">
            <p class="h5">Features</p>
            <p>Cool Stuff</p>
            <p>Random Feature</p>
            <p>Team Feature</p>
            <p>Stuff for developers</p>
            <p>Another one</p>
            <p>Last time</p>
        </div>
        <div class="col-md-3">
            <p class="h5">Features</p>
            <p>Cool Stuff</p>
            <p>Random Feature</p>
            <p>Team Feature</p>
            <p>Stuff for developers</p>
            <p>Another one</p>
            <p>Last time</p>
        </div>
        <div class="col-md-3">
            <p class="h5">Features</p>
            <p>Cool Stuff</p>
            <p>Random Feature</p>
            <p>Team Feature</p>
            <p>Stuff for developers</p>
            <p>Another one</p>
            <p>Last time</p>
        </div>
    </div>
</body>
</html>