<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="lab6-1.css">
    </head>
    <body>
        <fieldset>Page
            <header id="a">Header</header>
            <table width="100%" height="" border="0">
                <header class="a">Content</header>
                <tr>
                    <td><input type="text" placeholder="Entry"> </td>
                    <td rowspan="3"> <textarea placeholder="Sidebar" rows="5" cols="20"></textarea></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Entry"> </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Entry"> </td>
                </tr>
            </table>
            <footer>&#169Darshan University-Rajkot</footer>
        </fieldset>
    </body>
</html>