<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="lab6-3.css">
</head>
<body>
    <div class="black"></div>
    
        <header>Header</header>

    <div class="white">
            <div class="text">HTML</div>
            <div class="navigation">Navigation</div>
            <div class="content">content</div>
            <div class="sidebar">Sidebar</div>
            <div class="extra"></div>
    </div>
    
        <footer>Footer</footer>

    <div class="black"></div>
</body>
</html>